{% extends 'admin/layout.twig' %}
{% block title %}Admin{% endblock %}

{% block navigation %}{{ parent() }}{% endblock %}
{% block content %}

    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Contenu</th>
                <th scope="col">Status</th>
                <th scope="col">Voir article</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <th scope="row"> {{ comment.id }} </th>
                    <td> {{ comment.title }} </td>
                    <td> {{ comment.content }} </td>
                    <td> {{ comment.status }} </td>
                    <td>
                        <!-- à faire -->
                        <a href="/post/{{ comment.slug }}" target="_blank">Article</a>
                    </td>
                    <td>
                        <form action="/admin/comments/update" method="post">
                            <input type="hidden" name="status" value="published"/>
                            <input type="hidden" name="id" value="{{ comment.id }}"/>
                            <button type="submit" class="btn btn-light">Approuver</button>
                        </form>
                        <form action="/admin/comments/update" method="post">
                            <input type="hidden" name="status" value="refused"/>
                            <input type="hidden" name="id" value="{{ comment.id }}"/>
                            <button type="submit" class="btn btn-danger">Refuser</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}