{% extends 'front/layout.twig'%}
{% block head %}
    {{ parent() }}
    <title>Ensemble des articles du site</title>
{% endblock %}

{% block content %}
    {% include 'front/navigation.twig' %}

    <div class="ccontainer">
        <div class="row">
            <div class="col-lg-8 mx-auto spaceFromMargin">
                <section>
                <h3>Articles</h3>
                    {% for post in posts %}
                        <a href="/post/{{ post.slug }}"><h3>{{ post.title }}</h3></a>
                        <div>
                            {{ post.description|striptags|truncate(300, true, '...') }}
                        </div>
                        <div>
                            <strong>Date de dernière modification:</strong>
                            <span>{{ post.updateat|date('d/m/Y') }}</span>
                        </div>
                        <br/>
                    {% endfor %}
                    <br/>
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                            {% for paginationCount in range(1, paginationCounts) %}
                                <li class="page-item {{ offset==paginationCount?'disabled':'' }}"><a class="page-link" href="/blog/{{ paginationCount }}/5">{{ paginationCount }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </div>
    {% include 'front/footer.twig' %}
{% endblock %}